@use '../util';

.key{
    display: grid;
    place-content: center;
    width: 100%;
    height: 64px;
    border-radius: 10px;
    border: none;
    transition: all 300ms ease-in-out;
}


@media all and (max-height: util.$landscape-orientation) and (orientation : landscape) {
    .key{
        height: 32px;
        border-radius: 6px;
    }
}